/* reset estilos básicos para remover margens e preenchimento padrão do navegador */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0; 
}

body{
    background-image: url(/static/img/court1.png);
    background-position: center top;
    background-attachment: fixed;
    /*background: linear-gradient(to right,#c46308 , #edac56e7, #f5a844e6, #edac56e7, #c46308)*/
}

/* Estilo do cabeçalho */
header {
    border-bottom: 5px solid rgb(0, 0, 0);
    background: linear-gradient(to right,rgb(248, 0, 29),rgb(101, 10, 180),rgb(5, 21, 192)); /*Fundo degradê inspirado nas cores de basquete */
    padding: 20px 0; /* Preenchimento superior e inferior de 30px e preenchimento esquerdo/direito automático */
}

/* Estilo da navegação */
nav ul {
    list-style: none; /* Remover marcadores de lista padrão */
    text-align: center; /* Centralizar os itens do menu horizontalmente */
}

.menu li {
    display: inline; /* Exibir os itens do menu em linha */
    margin: 0 80px; /* Adicionar margem à direita e à esquerda de 20px para espaçamento entre os itens */
}

.menu a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: #f0ebeb; /* Cor do texto dos links */
    font-weight: bold; /* Texto em negrito */
    font-size: 20px;
    margin: 0 20px; /* Margem à direita e à esquerda de 20px para espaçamento */
    text-transform: uppercase;
        text-shadow:
    -1px -1px 0 #000,  /* Sombra superior esquerda */
    1px -1px 0 #000,   /* Sombra superior direita */
    -1px 1px 0 #000,   /* Sombra inferior esquerda */
    1px 1px 0 #000;    /* Sombra inferior direita */    
}

.corpoindex{
    display: flex;
    justify-content: center;
        
}



.texto_pagina h1{
    padding-top: 100px;
    color: rgb(255, 255, 255);
    line-height: 2.5;
    letter-spacing: 2px;
    font-size: 36px;

    text-shadow:
        -2px -2px 0 #000,  /* Sombra superior esquerda */
        2px -2px 0 #000,   /* Sombra superior direita */
        -2px 2px 0 #000,   /* Sombra inferior esquerda */
        2px 2px 0 #000;    /* Sombra inferior direita */

}
.texto_pagina p{
    padding-top: 20px;
    color: aliceblue;
    font-size: large;
    text-shadow:
    -1px -1px 0 #000,  /* Sombra superior esquerda */
    1px -1px 0 #000,   /* Sombra superior direita */
    -1px 1px 0 #000,   /* Sombra inferior esquerda */
    1px 1px 0 #000;    /* Sombra inferior direita */

}

/*CARDS INICIO */
.card {
    justify-content: center;
    display: flex;
    background-color:rgba(255, 151, 14, 0.8);
    border: 2px solid #000000; /* Adicione uma borda ao card */
    border-radius: 35px;
    margin: 20px ;
    padding: 20px;
    transition: transform 0.5s ease;
    
  
}

.card:hover {
    transform: translateY(-8px); /* Efeito de elevação ao passar o mouse */
}

.card-content {
    flex: 1;
    padding: 10px;
}

.card h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #ffffff;
}

.card p {
    font-size: 1rem;
    color: #ffffff;
}

.card li {
    font-size: 1rem;
    color: #ffffff;
}

.card h3{
    font-size: 1rem;
    color: #ffffff;

}

.card img {
   
    max-width: 800px; /* Defina a largura máxima da imagem */
    max-height: 400px;
    border: 2px solid #000000; /* Adicione uma borda à imagem */
    border-radius: 15px; /* Adicione uma borda arredondada à imagem */
    margin-left: 75%; /* Adicione margem à esquerda da imagem para separá-la do texto */
}

/* FIM DOS CARDS  */



