/* reset estilos básicos para remover margens e preenchimento padrão do navegador */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0; 
}

body{    
 /*background: linear-gradient(to right,#c46308 , #edac56e7, #f5a844e6, #edac56e7, #c46308)*/
}

/* Estilo do cabeçalho */
header {
    
    border-bottom: 5px solid rgb(0, 0, 0);
    background: linear-gradient(to right,rgb(248, 0, 29),rgb(101, 10, 180),rgb(5, 21, 192)); /*Fundo degradê inspirado nas cores de basquete */
    padding: 20px 0; /* Preenchimento superior e inferior de 30px e preenchimento esquerdo/direito automático */
}



/* Estilo da navegação */
nav ul {
    list-style: none; /* Remover marcadores de lista padrão */
    text-align: center; /* Centralizar os itens do menu horizontalmente */
}

.menu li {
    display: inline; /* Exibir os itens do menu em linha */
    margin: 0 80px; /* Adicionar margem à direita e à esquerda de 20px para espaçamento entre os itens */
}

.menu a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: #f0ebeb; /* Cor do texto dos links */
    font-weight: bold; /* Texto em negrito */
    font-size: 20px;
    margin: 0 20px; /* Margem à direita e à esquerda de 20px para espaçamento */
    text-transform: uppercase;
        text-shadow:
    -1px -1px 0 #000,  /* Sombra superior esquerda */
    1px -1px 0 #000,   /* Sombra superior direita */
    -1px 1px 0 #000,   /* Sombra inferior esquerda */
    1px 1px 0 #000;    /* Sombra inferior direita */    
}

.corpoindex{
    background-image: url(/static/img/court1.png);  
    display: flex;
    justify-content: center;
    background-position: center top;
    background-attachment: fixed;        
}




.texto_pagina h1{
    font-family: sans-serif ;
    margin-left: 5% ;
    margin-right: 5%;
    padding-top: 100px;
    color: rgb(255, 255, 255);
    line-height: 2.5;
    letter-spacing: 2px;
    font-size: 3.5rem;
    text-shadow:
        -2px -2px 0 #000,  /* Sombra superior esquerda */
        2px -2px 0 #000,   /* Sombra superior direita */
        -2px 2px 0 #000,   /* Sombra inferior esquerda */
        2px 2px 0 #000;    /* Sombra inferior direita */
}
.paragrafo_index{
    font-family: sans-serif ;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 20px;
    color: aliceblue;
    font-size: 1.5rem ;
    background-color:rgba(46, 44, 44, 0.6);
    text-shadow:    
    -1px -1px 0 #000,  /* Sombra superior esquerda */
    1px -1px 0 #000,   /* Sombra superior direita */
    -1px 1px 0 #000,   /* Sombra inferior esquerda */
    1px 1px 0 #000;    /* Sombra inferior direita */

}

/*CARDS INICIO */
.card {

    justify-content: center;
    display: flex;
    background-color:rgba(255, 151, 14, 0.7);
    border: 2px solid #000000; /* Adicione uma borda ao card */
    border-radius: 35px;
    margin: 20px ;
    padding: 20px;
    transition: transform 0.5s ease;
    margin: 20px auto;
    width: 55%
}

.card:hover {
    transform: translateY(-8px); /* Efeito de elevação ao passar o mouse */
}

.card-content {
    flex: 1;
    padding: 10px;
}

.card h2 {
    text-shadow: 
    -1px -1px 0 #000,  /* Sombra superior esquerda */
    1px -1px 0 #000,   /* Sombra superior direita */
    -1px 1px 0 #000,   /* Sombra inferior esquerda */
    1px 1px 0 #000;    /* Sombra inferior direita */;
    font-size: 1.8rem;
    margin: 0;
    color: #ffffff;
    font-family: sans-serif;
}

.card p {
    font-size: 1rem;
    color: #ffffff;
    font-family: sans-serif ;
}

.card li {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: justify;
    font-family: sans-serif ;
}

.card h3{
    font-size: 1rem;
    color: #ffffff;
    font-family: sans-serif ;

}

.card img {
    margin: 20px auto; /*distancia do texto acima*/
    margin-left: 20px; /* distancia texto lado*/
    float: right;
    max-width: 800px; /* Defina a largura máxima da imagem */
    max-height: 400px;
    border: 2px solid #000000; /* Adicione uma borda à imagem */
    border-radius: 15px; /* Adicione uma borda arredondada à imagem */
}

/* FIM DOS CARDS  */

.video{
    margin-left: 15%;
  
}

.posicoes_mae{
    background-image: url(/static/img/fundo\ 3.jpg);
 
    
    background-position: center center;
    background-attachment: fixed;  
}

/* CARROSSEL INICIO*/
.item h2{
    padding-left: 3%;
    text-shadow: 
    -1px -1px 0 #000,  /* Sombra superior esquerda */
    1px -1px 0 #000,   /* Sombra superior direita */
    -1px 1px 0 #000,   /* Sombra inferior esquerda */
    1px 1px 0 #000;    /* Sombra inferior direita */;
    font-size: 1.8rem;
    margin: 0;
    color: #ffffff;
    font-family: sans-serif;
}

.item p{
    font-size: 1rem;
    color: #ffffff;
    font-family: sans-serif ;
    text-align: center;
    line-height: 0.85;
    text-shadow: 
    -1px -1px 0 #000,  /* Sombra superior esquerda */
    1px -1px 0 #000,   /* Sombra superior direita */
    -1px 1px 0 #000,   /* Sombra inferior esquerda */
    1px 1px 0 #000;    /* Sombra inferior direita */;
}


.carrossel{
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }
  
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
   max-width: 100%;
   width: calc(100% * var(--items)); /* Ajusta a largura baseada no número de itens */
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #ae70ff;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff4040;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #6cc915;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #2641d7;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #5638a7;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }
  
/*FIM CARROSSEL */


/* Página Dicas*/
.conteudo-centralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 12%;
}
.conteudo-centralizado h2{
    padding-top: 50px;
}
.conteudo-centralizado h3,p{
    padding-right: 6%;
}

.video {
    margin-top: 20px; /* Ajuste a margem superior conforme necessário */
}


/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
    /* Redefina ou ajuste os estilos conforme necessário para telas menores */

    .menu li {
        margin: 0 20px; /* Reduzir a margem para os itens do menu */
    }

    .menu a {
        font-size: 16px; /* Reduzir o tamanho da fonte do menu */
        margin: 0 10px; /* Reduzir a margem dos links do menu */
    }

    .texto_pagina h1 {
        font-size: 2.5rem; /* Reduzir o tamanho do título */
        margin-left: 3%; /* Ajustar margens */
        margin-right: 3%;
    }

    .texto_pagina p {
        font-size: 1.2rem; /* Reduzir o tamanho do texto */
        margin-left: 5%;
        margin-right: 5%;
    }

    .card {
        width: 90%; /* Ajustar a largura dos cards */
        margin: 10px auto; /* Redefinir margem */
    }

    .card h2 {
        font-size: 1.5rem; /* Reduzir o tamanho do título do card */
    }

    .card p,
    .card li,
    .card h3 {
        font-size: 1rem; /* Reduzir o tamanho do texto dos cards */
    }

    .card img {
        max-width: 100%; /* Garantir que a imagem não ultrapasse o tamanho do contêiner */
        max-height: auto; /* Ajustar altura automaticamente */
    }

    .video {
        margin-left: 5%; /* Ajustar margem para o elemento de vídeo */
    }

    
    .conteudo-centralizado {
        padding: 0 15px; /* Adaptação de margens para telas menores */
    }
    .video iframe {
        width: 100%; /* Garanta que o vídeo ocupe toda a largura na tela menor */
    }
     
}


