<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Hooper_Life</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <div class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/posicoes">Posições</a></li>
                    <li><a href="/dicas">Dicas</a></li>
                    <li><a href="/nba">NBA</a></li>
                </div>
            </ul>
        </nav>

        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/">Home</a>
                <a href="/posicoes">Posições</a>
                <a href="/dicas">Dicas</a>
                <a href="/nba">NBA</a>

            </div>


        <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
            }
            </script>
    </header>
    
            
    {% block main %}
    {% endblock %}
 
    
</body>

</html>
