{% extends 'base.html' %}
{% block main %}
    <div class="conteudo-centralizado">

        <h1 class="nome">DICAS </h1>

        <div id="topico">
            <h2>Calçados</h2>
            <p>Para começar no basquete, ter um bom par de tênis é essencial para evitar lesões. Os sapatos de cano alto oferecem mais suporte aos tornozelos, mas podem ser mais pesados, enquanto os de cano médio são mais leves, porém com menos suporte. Escolha o par ideal de acordo com sua posição e nível de competição.</p>
        </div>

        <div id="topico"> 
            <h2>Aquecer</h2>
            <p>O aquecimento antes do jogo é crucial para reduzir lesões e melhorar o desempenho.</p>
            <p>Um bom aquecimento eleva a frequência cardíaca e prepara o corpo para o jogo rápido do basquete.</p>
        </div>

        <div id="topico">
            <h2>Fisíco</h2>
            <p>Estar em boa forma física é fundamental. Quanto melhor a forma física, maior a resistência e a resposta rápida durante o jogo. Exercícios como corrida melhoram a resistência cardiovascular, enquanto atividades como ioga aumentam flexibilidade e agilidade.</p>
        </div>

        <div id="topico">
            <h2>Controle</h2>
            <p>A prática é essencial. A dedicação no aprimoramento de habilidades como passe, drible e arremesso é crucial para melhorar no basquete. Dominar os fundamentos é crucial para diversão e desenvolvimento no jogo.</p>
            <p>Treinar o drible com a mão menos habilidosa é importante para manter a posse de bola. É fundamental manter a cabeça erguida e driblar com controle, não força.</p>
        </div>

        <div id="topico">
            <h2> Arremesso</h2>
            <p>Para melhorar as habilidades de arremesso, pratique regularmente em diferentes posições. Aprender seu alcance de arremesso é vital, mantendo o foco na cesta durante o arremesso.</p>
        </div>

        <div id="topico">
            <h2>Salto</h2>
            <p>A capacidade de saltar alto é essencial no basquete. O treino de salto não apenas melhora a altura de salto, mas também o desempenho geral, sendo importante para rebotes e bloqueios.</p>
        </div>

        <div id="topico">
            <h2>Técnica</h2>
            <p>Driblar com controle é mais eficaz do que força. Manter a postura correta e controlar a bola ao driblar são aspectos fundamentais.</p>
        </div>

        <div id="topico">
            <h2>Progressão</h2>
            <p>Dominar algumas habilidades e progredir gradualmente é importante. Começar com habilidades básicas e expandir gradualmente aumenta a confiança.</p>
        </div>

        <div id="topico">
            <h2>Aprendizado</h2>
            <p>Encontrar um bom treinador e observar outros jogadores pode ser valioso para aprimorar habilidades e aprender táticas defensivas e de ataque.</p>
        </div>

        <div class="texto_pagina">
            <h2>Bola de basquete custo benefício:</h2>
        </div>

        <div class="video">
            <!-- Vídeo do YouTube para assistir no site -->
            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/fEBvfjXmJo4" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="descrição">
                <h3>A melhor bola de basquete 2020</h3>
                <p>A melhor bola custo benefício 2020, em minha opinião. A bola em si tem uma pegada muito boa e quica muito bem, além da durabilidade. Consultei meu amigo pessoal que possuía uma dessas já e a única coisa que piora com o desgaste é a pintura das linhas, muito frágil. É uma bola com pegada outdoor, conforme você utiliza ela vai melhorando ainda mais pois estará "amaciando".</p>
            </div>
        </div>

    </div>
{% endblock %}
