{% extends 'base.html' %}
{% block main %}
    <div class="texto_pagina">
        <div>
            <h1>
             Dicas
            </h1>
            <h2>
                Bola de basquete custo beneficio:
            </h2>

    </div>
</div>
<div class="video">
    <!-- Vídeo do youtube pra assistir no site -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fEBvfjXmJo4" frameborder="0" allowfullscreen></iframe>
    <div class="carousel-caption">
        <h3>A melhor bola de basquete 2020</h3>
        <p>A melhor bola custo beneficio 2020 em minha opinião,A bola em si tem uma pegada muito boa e quica muito bem, além da durabilidade,(consultei meu amigo pessoal que possuía uma dessa já e a única coisa que piora com o desgaste é a pintura das linhas,muito frágil).
            É uma bola com pegada outdoor, conforme você utilizar ela vai melhorando ainda mais pois estará "amaciando".</p>
    </div>
</div>

{% endblock %}