{% extends 'base.html' %}
{% block main %}
    <div class="conteudo-centralizado">
        <div class="texto_pagina">
            <h2>Bola de basquete custo benefício:</h2>
        </div>

        <div class="video">
            <!-- Vídeo do YouTube para assistir no site -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fEBvfjXmJo4" frameborder="0" allowfullscreen></iframe>
            <div class="descriçao">
                <h3>A melhor bola de basquete 2020</h3>
                <p>A melhor bola custo benefício 2020, em minha opinião. A bola em si tem uma pegada muito boa e quica muito bem, além da durabilidade. Consultei meu amigo pessoal que possuía uma dessas já e a única coisa que piora com o desgaste é a pintura das linhas, muito frágil. É uma bola com pegada outdoor, conforme você utiliza ela vai melhorando ainda mais pois estará "amaciando".</p>
            </div>
        </div>
    </div>
{% endblock %}
