{% extends 'base.html' %}
{% block main %}

<div class="corpoindex">

    <div class="texto_pagina">
        <div>
            <h1>
                Basketball - 
            </h1>
        </div>
        <div>
            <p>
                O Basketball, também conhecido como basquete, é um esporte de equipe amplamente praticado e popular em todo o mundo. A história do basquete é fascinante e tem suas raízes nos Estados Unidos, onde foi criado no final do século XIX. Aqui está uma visão geral da história do basquete:
            </p>
        </div>
    
    <div class="card" id="card">
        <div class="card-content">
            <h2><b>Origens e Invenção:</b></h2>
            <br>
             <li>
                O basquete foi inventado por Dr. James Naismith, um instrutor de educação física canadense, em dezembro de 1891, na International YMCA Training School em Springfield, Massachusetts, EUA.
            </li>
            <br>
            <li>
                Naismith criou o jogo como uma atividade indoor para manter seus alunos ativos durante o inverno. Ele escreveu 13 regras simples para o jogo original.
                A criação do basquete aconteceu na cidade de Springfield, Massachusetts, nos Estados Unidos, na Escola Internacional de Treinamento da YMCA (Young Men's Christian  Association). Na época, Naismith foi desafiado a inventar um novo jogo para manter seus  alunos ativos durante o inverno. As atividades esportivas ao ar livre eram impraticáveis devido ao clima frio, então ele precisava de uma atividade indoor.
             </li>
            <br>
            <li>
                Dr. Naismith elaborou um conjunto de 13 regras simples para o novo jogo e pregou um cesto de pêssegos na parede da quadra. A primeira partida de basquete foi jogada com uma bola de futebol e as regras originais enfatizavam a não-violência e o fair play. O objetivo do jogo era arremessar uma bola no cesto do adversário para marcar pontos.
            </li>

            <br>            
            <img class="imgcard1" src="/static/img/bola bask.jpg" alt="bola basquete">

            <h2><b>Desenvolvimento Inicial : </b></h2>
            <br>
            <li>
                O primeiro jogo de basquete foi jogado com uma bola de futebol e cestas de pêssegos como alvos.
            </li>
            <br>
            <li>
                O jogo se espalhou rapidamente por escolas e universidades nos Estados Unidos e logo se tornou popular em todo o mundo.
            </li>
            
            <br>

            <img class="img1card1" src="/static/img/criador_bask.jpg" alt="criador do Basketball">
            <h2>Dr. James Naismith, criador de um dos maiores esportes do mundo, O BASQUETEBOL.</h2>
            <h3>Junto ao Dr. , um dos primeiros modelos de bolas de basquete.</h3>
        </div>
    </div>

    

</div>   
{% endblock %}