{% extends 'base.html' %}
{% block main %}

<div class="corpoindex">

    <div class="texto_pagina">
        <div>
            <h1>
               Basketball - 
            </h1>
        </div>
        <div>
            <p>
                O Basketball, também conhecido como basquete, é um esporte de equipe amplamente praticado e popular em todo o mundo. A história do basquete é fascinante e tem suas raízes nos Estados Unidos, onde foi criado no final do século XIX. Aqui está uma visão geral da história do basquete:
            </p>
        </div>
    
    <div class="card" id="card2">
        <div class="card-content">
            <h2><b>Facilitação</b></h2>
            <br>
            <li>
            
                Segundo Peter Pfeiffer no livro Facilitação de Projetos, “um facilitador é um catalisador para as diversas ideias que se apresentam em um grupo”. Assim, um facilitador procura sempre:
            
            </li>
            <img src="/static/img/bola bask.jpg" alt="bola basquete">
        </div>
    </div>

</div>   
{% endblock %}