{% extends 'base.html' %}
{% block main %}
<div class="posicoes_mae">
    <div class="texto_pagina">
        <div>
            <h1>
             Posições e suas caracteristicas
            </h1>
        </div>
    </div>
        
    <div class="card" id="card">
        <div class="card-content">
            <h2><b>Armador</b></h2>
            <br>
            <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, ab tenetur. Molestiae delectus ratione, mollitia, amet, ad consequatur accusantium soluta placeat nesciunt dolorem in. Tempore pariatur nisi necessitatibus et in.
            </li>
            <img src="/static/img/armador.jpg" alt="armador">
            <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam rem quisquam exercitationem. Voluptate, tempora iusto fugit veritatis recusandae aperiam sapiente placeat asperiores a reprehenderit doloribus aliquam vero hic repudiandae obcaecati.
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum cupiditate laboriosam, reiciendis velit commodi mollitia eos provident alias consectetur animi doloribus magnam illo accusamus nisi vel assumenda, inventore incidunt vitae?
            </li>
        </div>

        <br>
    
    </div>
    <div class="card" id="card">
        <div class="card-content">
            <h2><b>Ala-Armador</b></h2>
            <br>
            <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, ab tenetur. Molestiae delectus ratione, mollitia, amet, ad consequatur accusantium soluta placeat nesciunt dolorem in. Tempore pariatur nisi necessitatibus et in.
            </li>
            <img src="/static/img/jordan1.png" alt="Ala-Armador">
            <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam rem quisquam exercitationem. Voluptate, tempora iusto fugit veritatis recusandae aperiam sapiente placeat asperiores a reprehenderit doloribus aliquam vero hic repudiandae obcaecati.
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum cupiditate laboriosam, reiciendis velit commodi mollitia eos provident alias consectetur animi doloribus magnam illo accusamus nisi vel assumenda, inventore incidunt vitae?
            </li>
        </div>
        
        <br>

    </div>


    <div class="card" id="card">
        <div class="card-content">
            <h2><b>Ala</b></h2>
            <br>
            <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, ab tenetur. Molestiae delectus ratione, mollitia, amet, ad consequatur accusantium soluta placeat nesciunt dolorem in. Tempore pariatur nisi necessitatibus et in.
            </li>
            <img src="/static/img/alalebron.png" alt="Ala">
            <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam rem quisquam exercitationem. Voluptate, tempora iusto fugit veritatis recusandae aperiam sapiente placeat asperiores a reprehenderit doloribus aliquam vero hic repudiandae obcaecati.
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum cupiditate laboriosam, reiciendis velit commodi mollitia eos provident alias consectetur animi doloribus magnam illo accusamus nisi vel assumenda, inventore incidunt vitae?
            </li>
        </div>

        <br>

    </div>
    <div class="card" id="card">
        <div class="card-content">
            <h2><b>Ala-Pivô</b></h2>
            <br>
            <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, ab tenetur. Molestiae delectus ratione, mollitia, amet, ad consequatur accusantium soluta placeat nesciunt dolorem in. Tempore pariatur nisi necessitatibus et in.
            </li>
            <img src="/static/img/pivoduncan.png" alt="Ala-Pivô">
            <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam rem quisquam exercitationem. Voluptate, tempora iusto fugit veritatis recusandae aperiam sapiente placeat asperiores a reprehenderit doloribus aliquam vero hic repudiandae obcaecati.
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum cupiditate laboriosam, reiciendis velit commodi mollitia eos provident alias consectetur animi doloribus magnam illo accusamus nisi vel assumenda, inventore incidunt vitae?
            </li>
        </div>
        
        <br>

    </div>

    <div class="card" id="card">
        <div class="card-content">
            <h2><b>Pivô</b></h2>
            <br>
            <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, ab tenetur. Molestiae delectus ratione, mollitia, amet, ad consequatur accusantium soluta placeat nesciunt dolorem in. Tempore pariatur nisi necessitatibus et in.
            </li>
            <img src="/static/img/pivosahq.png" alt="Pivô">
            <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam rem quisquam exercitationem. Voluptate, tempora iusto fugit veritatis recusandae aperiam sapiente placeat asperiores a reprehenderit doloribus aliquam vero hic repudiandae obcaecati.
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum cupiditate laboriosam, reiciendis velit commodi mollitia eos provident alias consectetur animi doloribus magnam illo accusamus nisi vel assumenda, inventore incidunt vitae?
            </li>
        </div>
    </div>


    

</div>


</div>
{% endblock %}