{% extends 'base.html' %}
{% block main %}
<div>
    <div class="texto_pagina">
        <div>
            <h1>
             Posições e suas caracteristicas no basquete 
            </h1>
        </div>
        <div>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sunt explicabo corrupti fugit veritatis nihil cum sint mollitia quo delectus in iusto, ipsam pariatur molestias alias amet eaque! Modi, repellat.
            </p>
        </div>
    </div>
        
    <div class="card" id="card">
        <div class="card-content">
            <h2><b>Armador</b></h2>
            <br>
            <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, ab tenetur. Molestiae delectus ratione, mollitia, amet, ad consequatur accusantium soluta placeat nesciunt dolorem in. Tempore pariatur nisi necessitatibus et in.
            </li>
            <img src="/static/img/armador.jpg" alt="armador">
            <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam rem quisquam exercitationem. Voluptate, tempora iusto fugit veritatis recusandae aperiam sapiente placeat asperiores a reprehenderit doloribus aliquam vero hic repudiandae obcaecati.
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum cupiditate laboriosam, reiciendis velit commodi mollitia eos provident alias consectetur animi doloribus magnam illo accusamus nisi vel assumenda, inventore incidunt vitae?
            </li>
        </div>
    </div>

{% endblock %}